<div class="rpg">
  <div data-alert class="alert-box info radius">
    <center>
      <center><p><%= link_to 'Chat', '/rpg/chat' %></p></center>
      <h6>
        Chat here with other players!
        <br>
        <br>

      </h6>
    </center>

  </div>
</div>

