<div class="row">
  <div class="large-3 columns">

    <%= link_to 'Warrior', { :controller => 'rpg' , :action => 'class_picker', :id => current_user.id, :class_picked => 1 } %>
  </div>
  <div class="large-3 columns">
    <%= link_to 'Dk', { :controller => 'rpg' , :action => 'class_picker', :id => current_user.id, :class_picked => 2 } %>
  </div>
  <div class="large-3 columns">.dass3</div>
  <div class="large-3 columns">.dass3</div>
</div>
