<div class="rpg">
  <div data-alert class="alert-box info radius">
    <center>
    <center><p><%= link_to 'Jungle', { :controller => 'rpg', :action => 'go_jungle' } %></p></center>
      <h6>
        Try new adventures in the jungle!
        <br>
        <br>
      </h6>
    </center>

  </div>
</div>

