<div class="rpg">
  <div data-alert class="alert-box info radius">
    <center>
    <center><p><%= link_to 'Mission', '/rpg/mission' %></p></center>
      <h6>
        Check here your missions!
        <br>
        <br>
      </h6>
    </center>

  </div>
</div>

