<div class="rpg">
  <div data-alert class="alert-box info radius">
    <center>
      <h6>
        Here you can buy things to increase your stats!
      </h6>
    </center>
    <center><p><%= link_to 'Store', '/rpg/store' %></p></center>
  </div>
</div>

